@using Microsoft.AspNetCore.Identity
@model IdentityRole

<form asp-action="addRole" method="post">
    <label asp-for="Name"></label>
    <input asp-for="Name"/>
    <button type="submit" class="btn btn-success form-control mt-3">Add</button>
</form>