@page "/myfirstpage"

<h1>Hello From My first Page</h1>

<h3>Print all even numbers from 1 to 100</h3>

@for(int i=1;i<100;i++)
{
    if(i%2==0)
    {
        <p>@i</p>
    }
}

<h3>Numbers Containing 9 in it from 1 to 100</h3>

<h3>print all even numbers from 1 to 100</h3>
